 *{
    font-family: Poppins, 'Source Sans Pro';;
 }
    /* for ouz  */
      .body_ouz  {
        
        font-family: Poppins, 'Source Sans Pro';

    }
    
  .solm{
    font-size: 14px; /* Taille de police personnalisée, ajustez selon vos préférences */
    font-weight: 800;
    color: #bc2a2b; /* Couleur du texte, vous pouvez ajuster la valeur en utilisant une couleur de votre choix */
        /* Centrage du texte */
    margin-bottom: 5px; /* Marge en bas pour créer de l'espace entre le titre et le reste du contenu */
  
    }
  
  .ibo {
        font-size: 30px; /* Taille de police personnalisée, ajustez selon vos préférences */
        font-weight: 800; /* Gras */
        color:  #10255A; /* Couleur du texte, vous pouvez ajuster la valeur en utilisant une couleur de votre choix */
      /* Centrage du texte */
        /* Marge en bas pour créer de l'espace entre le titre et le reste du contenu */
        
    }
    .expert .card_ouz1 {
        height: 80%; /* Ajustez la hauteur selon vos besoins */
        font-weight: 100%;
        background-color: rgb(247, 230, 247);
        border: none;
    }
    .expert .card_ouz{
        height: 80%; /* Ajustez la hauteur selon vos besoins */
        font-weight: 100%;
        background-color: rgb(243, 239, 242);
        border: none;
    }
    
    .expert  {
        background-image: url('../assets/rectangle-2-bg.png'); /* Remplacez 'votre-image.jpg' par le chemin de votre image */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
         /* Ajoutez une marge intérieure pour séparer le texte de l'image de fond */
        color:black;
        height: auto; 
        margin-top:15rem;
       
        
    }
    .expert .card_ouz_vehicle-title{
        color: #bc2a2b;
        font-weight: 800;
        font-size: 90%;
    }
    
   
    .expert .btn_car_ouz{
        background-color:  #10255A;
        color: white;
        font-weight: 600;
        font-size: 14px;
        
      }
    .carte-textes{
        font-size: 0.6rem;
        font-weight: 400;
        
        text-transform: capitalize;
        color: #000000;
        margin-left: 10px;
    

    }
    /* for khadre */
    .bg-base {
        background-color: #754ffe !important;
      }
      #montabs .active {
        border-bottom: 3px solid blue;
      }
      .loc {
        color: black;
      }
      .a loc {
        color: black;
      }
      .titreCard {
        color: #bc2a2b;
        font-size:1.2rem;
      }
      .fontCard{
        color: #bc2a2b;
        font-size:0.8rem;

      }
      .titre1Card{
        font-size:1.2rem;
        
      }
      /* .auto_icon{
        font-size:0.8rem;
      } */
      .custom-line{
        min-height: 1rem;
        margin-bottom: -3rem;
      }
      .km{
        margin-left: 3.3rem;
      }
      .petrol{
        margin-left: 3.9rem;
      }
      .img1{
        width:auto; 
        height:auto;
        border-radius: 30px;
      }
      .button1{
        border-radius: 10px;
        font-size: 70%;
        font-weight: 800;
        background-color: #10255A;
        color: white;
        width: 50%;
        height: 40px;
      }
      .drivesasa_marketplace{
         
        font-size: 16px;
        font-weight: 800;
        line-height: 1.5;
        text-transform: uppercase;
        color: #bc2a2b;
        font-family: Poppins, 'Source Sans Pro';
      }
      .dealers{
         
        font-size: 33px;
        font-weight: 800;
        line-height: 1.5;
        text-transform: capitalize;
        color: #10255a;
        font-family: Poppins, 'Source Sans Pro';
      }
      .section_range{
        background-image: url("image/header-part-bg.png");
      }
      .range_titre{
        font-size: 52px;
        font-weight: 800;
      }
      .range_sous_titre{
        color: #bc2a2b;
        font-weight: 700;
        margin-bottom: 1.5rem;
      }
      .img_range{
         
        height: 700px;
        border-radius: 60px;
      }
      .img_super{
        border-radius: 30px;
      }
      .button_enquiry{
        border-radius: 8px;
        font-size: 20px;
        background-color: rgb(13, 13, 117);
        color: #ffffff;
        
      }
      /* for khoudia */
      

.section4 .container-fluid {
    background-color: #ffebec;;
}
.section4 .container-fluid .services .service_provider{
   
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    text-transform: uppercase;
    color: #bc2a2b;
    font-family: Poppins, 'Source Sans Pro';
    
 
}
.section4 .container-fluid .services .quality_service{
   
    font-size: 33px;
    font-weight: 800;
    line-height: 1.5;
    text-transform: capitalize;
    color: #10255a;
    font-family: Poppins, 'Source Sans Pro';
    
   
}
.section4 .container-fluid .services_auto .card{
    /* width: 280px; */
    border-color: #ffffff;
}
.section4 .container-fluid .services_auto .card .img_service{
    height: 200px;
} 
.section4 .container-fluid .services_auto .card-body .titre_carte{
    
  font-size: 13px;
  font-weight: 800;
  color: #1e1e1e;
  font-family: Poppins, 'Source Sans Pro';
 
}
.section4 .container-fluid .services_auto .card-body .text_carte{
  display: flex;
  font-size: 10px;
  font-weight: 400;
  color: #bc2a2b;
  font-family: Poppins, 'Source Sans Pro';
}
.section4 .container-fluid .services_auto .card-body .bouton_service{
    
    width: 50%;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    background-color: #10255a;
}

/* for bachir */
.text-white {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    line-height: 1.2;
}

.text-white {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    .text-white {
        font-size: 2.5rem;
    }
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    margin-top: 0;
    margin-bottom: 1rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid var(--bs-border-color);
    border-radius: 0.375rem;
    max-width: 100%;
    height: auto;
}

.figure {
    display: inline-block;
}

.figure-img {
    margin-bottom: 0.5rem;
    line-height: 1;
}

.figure-caption {
    font-size: 0.875em;
    color: #6c757d;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}

html {
    scroll-padding-top: calc(4.5rem - 1px);
}

body {
    width: 100%;
    height: 100%;
}

header.masthead {
    padding-top: 13rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: url("../assets/hakon-sataoen-xfiy4fzj8ze-unsplash-1.png");
    background-position: bottom ;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead h1,
header.masthead .h1 {
    font-size: 2.25rem;
}
.masthead .container .carte_bachir{
    border: none;
    height: 100%;
    
 }
 .masthead .container .welcom_bachir_head {
    font-weight: 900;
    color: #10255A;
    font-size:4rem;

    
 }
 .masthead .container .titre_bachir{
    margin-top: -24rem;
    
    
 }
 .masthead .container .view_carte_auto{
    margin-top: 17rem;
 }
 .masthead .container .carte_bachir .card-title{
    font-size: 15px;
    font-weight: 800;
 }
 .masthead .container .carte_bachir .card-text{
    font-size: 13px;
    font-weight: 600;
 }
 .masthead .container .carte_bachir .btn_bachir{
    font-size: 12px;
    font-weight: 700;
    color: #10255a;
 }

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }
    header.masthead p {
        font-size: 1.15rem;
    }
    header.masthead h1,
    header.masthead .h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1,
    header.masthead .h1 {
        font-size: 3.5rem;
    }
}
/* for lamine mbaye */

    
.testimonials {
  position: relative;
  height: 1089px;
  /* border-radius: 25px; */
  overflow: hidden;
  background-image: url(./img/testimonials.png);
  background-size: cover;
  background-position: 50% 50%;
}

.testimonials .overlap-group {
  position: absolute;
  width: 50%;
  height: 442px;
  top: 386px;
  left: -200px;
}

.testimonials .ornament {
  top: 281px;
  left: 487px;
  position: absolute;
  width: 198px;
  height: 161px;
}

.testimonials .frame {
  top: 0;
  left: 0;
  position: absolute;
  width: 745px;
  height: 296px;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 10px #0000001a;
}

.testimonials .rectangle {
  position: absolute;
  width: 245px;
  height: 296px;
  top: 0;
  left: 200px;
}

.testimonials .group {
  position: absolute;
  width: 491px;
  height: 237px;
  top: 29px;
  left: 287px;
}

.testimonials .text-wrapper {
  position: absolute;
  width: 485px;
  top: 24px;
  left: 0;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #515151;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials .div {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #515151;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.testimonials .p {
  position: absolute;
  width: 437px;
  top: 96px;
  left: 0;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #515151;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials .overlap {
  position: absolute;
  width: 1532px;
  height: 416px;
  top: 266px;
  left: 587px;
}

.testimonials .img {
  top: 0;
  left: 625px;
  position: absolute;
  width: 198px;
  height: 161px;
}

.testimonials .frame-2 {
  top: 120px;
  left: 0;
  position: absolute;
  width: 745px;
  height: 296px;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 10px #0000001a;
}

.testimonials .rectangle-2 {
  position: absolute;
  width: 245px;
  height: 296px;
  top: 0;
  left: 0;
}

.testimonials .frame-3 {
  top: 120px;
  left: 787px;
  position: absolute;
  width: 745px;
  height: 296px;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 10px #0000001a;
}

.testimonials .overlap-2 {
  position: absolute;
  width: 430px;
  height: 40px;
  top: 737px;
  left: 745px;
}

.testimonials .group-2 {
  position: absolute;
  width: 190px;
  height: 15px;
  top: 12px;
  left: 120px;
}

.testimonials .ellipse {
  left: 0;
  background-color: #10255a;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  border-radius: 7.5px;
}

.testimonials .ellipse-2 {
  left: 105px;
  background-color: #c7c7c7;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  border-radius: 7.5px;
}

.testimonials .ellipse-3 {
  left: 35px;
  background-color: #c7c7c7;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  border-radius: 7.5px;
}

.testimonials .ellipse-4 {
  left: 140px;
  background-color: #c7c7c7;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  border-radius: 7.5px;
}

.testimonials .ellipse-5 {
  left: 70px;
  background-color: #c7c7c7;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  border-radius: 7.5px;
}

.testimonials .ellipse-6 {
  left: 175px;
  background-color: #c7c7c7;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  border-radius: 7.5px;
}

.testimonials .group-3 {
  position: absolute;
  width: 430px;
  height: 40px;
  top: 0;
  left: 0;
}

.testimonials .section-header-mkt {
  position: absolute;
  width: 619px;
  height: 95px;
  top: 139px;
  left: 477px;
}

.testimonials .what-they-say-about {
  position: absolute;
  width: 293px;
  top: -30px;
  left: 161px;
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
  color: #bc2a2b;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials .text-wrapper-2 {
  position: absolute;
  width: 615px;
  top: 30px;
  left: 0;
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
  color: #10255a;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

